@import "markdown.css";
@import "_fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply min-h-screen relative bg-primary;
}
h1,
h2,
h3,
h4 {
  @apply font-display;
}
h3 {
  @apply font-medium;
}
p,
li {
  strong,
  b {
    @apply font-bold font-display;
  }
}
a,
p a,
li a {
  @apply underline font-display;
  font-weight: 500;
}

.text-prose {
  @screen md {
    @apply mt-5 text-xl;
  }

  p,
  li {
    @apply mt-3 mx-auto text-base max-w-4xl;

    @screen sm {
      @apply text-lg;
    }
  }
}
#donate-button {
  font-weight: bold;
  font-style: italic;
  @apply uppercase font-bold italic tracking-wide;
}

section {
  @apply mb-6 p-4;

  @screen md {
    @apply mb-24 px-12;
  }

  &:last-child {
    @apply mb-0;
  }
  p,
  li {
    @apply text-xl font-light;
  }

  b,
  strong {
    @apply font-bold;
  }
  h2 {
    @apply flex-1 text-3xl font-black mb-2;

    @screen md {
      @apply text-6xl;
    }

    @screen sm {
      @apply text-5xl;
    }
  }
}
.faq {
  p,
  li {
    @apply text-base font-light;
  }
  b,
  strong {
    @apply font-bold;
  }
}
#onpage-nav {
  @apply flex items-center mx-auto p-0 sticky z-50 w-full;

  > div {
    @apply flex-1;

    > a {
      @apply bg-primary bg-opacity-75 py-4;

      @screen md {
        @apply py-2;
      }

      svg {
        @apply hidden;

        @screen md {
          @apply block;
        }
      }
    }
  }

  @screen md {
    @apply flex flex-wrap items-center;
  }

  a {
    @apply text-base flex items-center mx-auto font-sans font-bold text-center underline justify-center cursor-pointer;

    @screen lg {
      @apply text-2xl;
    }

    span {
      @apply mr-2;
    }
  }
}

ol {
  list-style-type: none;
  counter-reset: item;
}

ol > li {
  position: relative;
  padding-left: 2.5rem;
  margin-bottom: 1rem;
}

ol > li:before {
  @apply absolute top-0 left-0 mt-0 flex items-center bg-body text-primary text-base
  w-8 h-8 rounded-full justify-center font-black;
  content: counter(item);
  counter-increment: item;
}
.test {
  color: blue;
}
nav {
  @apply flex mx-auto mb-4 justify-around mt-8;

  @screen md {
    @apply mb-0 flex-1;
  }

  a {
    @apply font-display text-center font-bold
    uppercase border-2 border-body text-body
     bg-white leading-relaxed no-underline outline-none
     relative cursor-pointer w-52 px-2 py-2 text-sm;

    &:after {
      @apply absolute h-full w-full;
      border: 2px solid #e33f3e;
      background-color: #e33f3e;
      left: 8px;
      top: 8px;
      z-index: -1;
      content: "";
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
    }

    &:hover {
      top: 4px;
      left: 4px;

      &:after {
        top: -2px;
        left: -2px;
      }
    }
    &.router-link-active {
      @apply bg-body text-primary;
      top: 4px;
      left: 4px;
      &:after {
        top: -2px;
        left: -2px;
      }
    }
  }
}
.page--resources {
  table {
    @apply w-full border-collapse;
  }
  thead {
    th {
      @apply bg-white uppercase;
    }
  }
  th,
  td {
    @apply p-2 border border-body;
  }

  th {
    @apply bg-primary;
  }

  tr:nth-child(even) {
    @apply bg-gray-50;
  }

  tbody {
    a {
      @apply underline;
    }
  }
}
.page--apply {
  ol {
    @apply list-none list-outside;
    li {
      @apply mb-8 text-xl;
      &:last-child {
        @apply mb-0;
      }
    }
  }
  .resources {
    @apply mt-8   md:mt-0;
  }
}
.page--resources {
}
table {
  @apply w-full border-collapse;
}
thead {
  th {
    @apply bg-white uppercase;
  }
}
th,
td {
  @apply p-2 border border-body;
}

th {
  @apply bg-primary;
}

tr:nth-child(even) {
  @apply bg-gray-50;
}

tbody {
  a {
    @apply underline;
  }
}
.page--baby-ghosts {
  h3 {
    @apply text-3xl leading-10 mt-8;
  }
}
.timeline {
  h4 {
    @apply text-2xl leading-10 mt-12 font-bold text-center;
  }
  h5 {
    @apply text-base text-center mb-6;
  }
  ul {
    @apply mt-0;
  }
  li {
    @apply mb-2;
  }
}
.quotes {
  @apply md:flex flex-wrap justify-around;
  p {
    @apply block p-6 rounded-xl  md:w-1/3  text-xl;
    &:first-child {
      @apply block md:w-3/5 text-2xl md:text-4xl;
    }
    .attribution {
      @apply text-base;
    }
  }
  ul {
    @apply mt-0;
  }
}
.right-aligner {
  h3 {
    @apply mb-4 lg:mb-0 lg:text-right text-4xl;
  }
  ul {
    @apply mt-0;
  }
}
.cta {
  @apply mx-auto w-full text-center;
}

.ghostie-bg {
  background-image: url("~/assets/img/d-ghost.svg");
  background-repeat: no-repeat;
  background-position: left bottom -200px; /* Aligns the image to the bottom and moves it up by 50% of its height */
  background-size: 250px; /* Adjust as needed */
  overflow: hidden;
}
ul {
  &:not([class^="formkit-"]) {
    @apply list-none m-0 mt-4 p-0;

    li {
      @apply relative pl-6;

      &:before {
        content: "–";
        @apply absolute left-0 top-0;
      }
    }
  }
}
